/** define padding sizes */
body {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --p-xs: 4px;
    --p-sm: 8px;
    --p-md: 16px;
    --p-lg: 24px;
    --p-xl: 32px;
    --m-xs: 4px;
    --m-sm: 8px;
    --m-md: 16px;
    --m-lg: 24px;
    --m-xl: 32px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

